<div id="content">
  <h1>The change you wanted was rejected.</h1>
  <p>Have you enabled cookies for this site? ScenicOrNot requires cookies to be enabled.</p>
  <p>If this was unexpected and you haven't found a solution, please contact us.</p>
</div>
