<div id="content">
  <h1>Data</h1>

  <p>
    We've made the data available for other people to use under the <a href="http://opendatacommons.org/licenses/odbl/">Open Database Licence</a>.
  </p>

  <p>
    <a href="https://scenic-or-not.s3-eu-west-1.amazonaws.com/votes.tsv">votes.tsv</a> is a TSV (tab-separated values) file of all photos that have been rated 3 times or more. The columns are ID, latitude, longitude, average rating, population variance, the votes (comma separated), and the Geograph URI for the photo. The current file contains all the votes posted until February 2015.
  </p>

  <p>
    There are 217,000 images (one for each of nearly 95% of the 1km grid squares in Great Britain), and we're making sure each one is rated 3 times by different people, to help limit abuse, or the impact of people with terrible taste.
  </p>

  <p>
    There are also separate files available for each of the following local authorities:
  </p>

  <dl>
    <% @local_authorities.each do |council| %>
      <dt><%= council.name %></dt>
      <dd><%= link_to "Download the data for #{council.name}", council.data_url %></dd>
    <% end %>
  </dl>
</div>
