body
{
   font-family: georgia, arial, sans-serif;
   font-size: 10pt;
   
   color: white;
   
   background: #a2c76c;
   
   margin: 0;
   padding: 0;
}

img
{
   border: 0;
}

ul
{
   list-style: none;
   padding: 0;
   margin: 0;
}

a:link,
a:visited
{  
   text-decoration: underline;
   
   color: #554841;
}

a:hover
{
   color: #9d4841;
}

#page_wrap
{
   background: #60ab9f url('../assets/page-tile.jpg') repeat-x;
}

#page
{
   width: 950px;
   margin: 0 auto;

   background: #60ab9f url('../assets/page-bg.jpg') repeat-x;
}

#side
{
   width: 196px;

   float: left;
}

#content
{
   width: 650px;

   float: left;
}

#side li
{
   width: 196px;  
   margin: 0;
   
   padding: 0 0 0 35px;
}

   #side li.menu a:link,
   #side li.menu a:visited
   {
      font-family: georgia, serif;
      font-size: 1.3em;
      
      text-decoration: none;
      
      color: #554841;
   }
   
   #side li.menu a:hover
   {
      color: #9d4841;
   }

   #side #menu_logo
   {
      height: 162px;
      padding: 0;
   }
   
   #side #menu_home
   {
      height: 34px;
      
      padding-top: 30px;
            
      background: url('../assets/menu-bg-1.jpg') no-repeat;
   }
     
   #side #menu_faq
   {      
      height: 28px;
      
      padding-top: 20px;
      
      background: url('../assets/menu-bg-2.jpg') no-repeat;
   }
   
   #side #menu_top10
   {  
      height: 28px;
      
      padding-top: 20px;
      
      background: url('../assets/menu-bg-3.jpg') no-repeat;
   }

#footer
{
   width: 960px;
 
   margin: 0 auto;
   
   padding: 30px 0;
   font-size: 0.8em;
      
   text-align: center;
   
   clear: both;
   
   background: #a2c76c url("../assets/footer-top.jpg") repeat-x;
}
   #footer li
   {
      display: inline;
   }
   
#footer_wrapper
{
   background: #a2c76c url("../assets/footer-top.jpg") repeat-x;
}

.clear
{
   clear: both;
}

#beta_message_wrap
{
   background: #ccc;
   border: solid #999;
   border-width: 0 0 1px 0;
}

#beta_message
{
   width: 1000px;
   margin: 0 auto;
   
   font-size: 0.8em;
   
   text-align: center;
   
   padding: 5px 0;
}

   #beta_message h3
   {
      margin: 0;
      padding: 0;
   }
