#generic
{
   width: 580px;
   background: #c7b299 url('../assets/generic-bg-tile.jpg') repeat-y;
   
   overflow: auto;
   color: #554841;
   font-size: 1.1em;
   
   min-height: 430px;
}

#generic .content
{
   padding: 0 20px;
}

#generic h1
{
   font-size: 1.5em;
   font-weight: normal;
   margin: 0 0 0 20px;
}

#content
{
   width: 526px;
   margin: 0 0 30px 60px;
}

#content dt
{
   padding-top: 10px;
   font-weight: bold;
}

