#side #rated_place_wrap
{
   padding-left: 0;
}

#rated_place
{
   width: 197px;
   
   overflow: auto;
   
   margin: 0;
   
   font-family: georgia, serif;
   font-size: 1.1em;
   color: #554841;

   background: url('../assets/rated-board-tile.jpg') repeat-y;
}

   #rated_place #rated_picture
   {
      padding-left: 20px;
   }
   
   #rated_place #rated_picture img
   {
      margin: 10px 0;
      
      border: 2px solid white;
   }
   
   #rated_place #rating
   {
      padding-left: 20px;
   }
   
#intro
{
   padding: 10px;
}

#rate
{
   width: 507px;
   height: 65px;
   
   margin: 0 0 0 64px;
   
   padding: 60px 0 0 0;
      
   background: url('../assets/rating-bg.jpg') no-repeat;
   
   text-align: center;
}

   #rate input
   {
      padding: 0 3px;
   }
   
   #rate form
   {
      margin: 0;      
   }

#place
{  
   width: 494px;
   margin: 0 0 0 60px;
   
   text-align: center;
}

   #place #picture
   {
      width: 450px;
      float: left;
   }
     
#license
{
   width: 494px;

   margin: 0 0 0 60px;
   text-align: center;
   
   padding: 15px 0;
}
   
input
{
   margin: 0;
   padding: 0;
}


   #frame .left
   {
      float: left;
   }
   
   #frame .right
   {
      float: right;
   }
   
   #frame #top
   {
      height: 57px;      
      background: url('../assets/pictureframe-t-tile.jpg') bottom repeat-x;
   }

   #frame #left
   {
      width: 22px;
      background: url('../assets/pictureframe-l.jpg') repeat-y;
      float: left;
   }
   
   #frame #bottom
   {
      height: 18px;
      
      clear: both;
   }
   
   #frame #bottom-middle
   {
      height: 18px;
      background: url('../assets/pictureframe-b.jpg') repeat-x;
      
      float: left;
   }
   
   #frame #right
   {
      width: 22px;
      background: url('../assets/pictureframe-r.jpg') repeat-y;
      float: right;
   }
