#cookieBanner {
  display: flex;
  justify-content: center;

  width: 100%;
  color: #fff;
  background-color: $link-colour;
  font-size: 0.9em;
  padding-bottom: 10px;

  #textContainer {
    margin-left: 2%;
    margin-right: 2%;
    text-align: left;

    a:link,
    a:visited {
      text-decoration: underline;
      color: #fff;
    }

    a:hover {
      color: #d9d1aa;
    }
  }

  #buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2%;
    margin-right: 2%;

    .cookieButton {
      margin-top: 5px;
      margin-bottom: 5px;

      color: #fff;
      background-color: rgb(19, 136, 95);
      border: none;
      border-radius: 3px;
      padding: 5px;
    }

    .cookieButton:hover,:focus {
      color: #d9d1aa;
      cursor: pointer;
    }
  }
}

@media (max-width: 949px) {
  #cookieBanner {
    flex-direction: column;
  }
}

ul#cookies {
  list-style-type: disc;
  margin-left: 1em;
}
