#cookieBanner {
  display: flex;
  justify-content: center;

  width: 100%;
  color: #fff;
  background-color: $link-colour;
  font-size: 0.9em;
  padding: 2em 0;

  #textContainer {
    margin-left: 1em;
    margin-right: 1em;
    width: 26em;
    text-align: left;

    a:link,
    a:visited {
      text-decoration: underline;
      color: #fff;
    }

    a:hover {
      color: #d9d1aa;
    }
  }

  #buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1em;
    margin-right: 1em;

    .cookieButton {
      margin-top: 5px;
      margin-bottom: 5px;
      font-family: $font;
      color: #fff;
      background-color: #049773;
      border: 3px solid #049773;
      border-radius: 3px;
      padding: 7px 16px 8px;
    }

    .cookieButton:hover {
      background: #a4c670;
      color: #554841;
      border-color: #a4c670;
      cursor: pointer;
    }

    .cookieButton:focus {
      background: #049773;
      border-color: #a4c670;
      color: #ffffff;
    }

    .cookieButton:active {
      background: #d8d0aa;
      border-color: #ffffff;
      color: #554841;
    }
  }
}

@media (max-width: 949px) {
  #cookieBanner {
    padding: 3em 1.5em;
    flex-direction: column;

    #textContainer {
      margin: 0;
      width: 100%;
    }

    #buttonContainer {
      margin: 0;
    }
  }
}

ul#cookies {
  list-style-type: disc;
  margin-left: 1em;
}
