@media (min-width: 950px) {
  footer {
    &:before {
      content: "";
      width: 100%;
      height: 20px;
      background: transparent url("/assets/footer-bg.png") top center no-repeat;
      position: absolute;
      top: -16px;
      left: 0;
    }

    position: relative;
    background-color: $footer-bg;
    padding: 30px 0;
    font-size: 0.8em;
    text-align: center;
    flex-shrink: 0;

    ul li {
      display: inline-block;
      margin-right: 10px;
    }
  }
}
