html,
body {
  height: 100%;
}

body {
  font-family: $font;
  font-size: 1em;
  color: #fff;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.main-outer-container {
  flex: 1 0 auto;
  background: linear-gradient(#ded5b8 0 340px, $background 470px 100%);
}

#rate form {
  display: inline-block;
}

img {
  border: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a:link,
a:visited {
  text-decoration: underline;
  color: $link-colour;
}

a:hover {
  color: $link-hover-colour;
}

.hidden {
  display: none !important;
}

dl.content {
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  word-break: break-word;
}

@media (min-width: 950px) {
  .hide-desktop {
    display: none;
  }

  .main-inner-container {
    width: 950px;
    min-height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 196px 650px;
    grid-gap: 1rem;
    background: transparent url("page-bg.png") repeat-x;
    color: $link-hover-colour;
  }

  main {
    width: 507px;
    margin: 0 auto;
    padding: 0;
    z-index: 1;
  }
}
