@mixin flower($colour: #554841, $rotation: 30deg) {
  content: '';
  top: 0;
  left: 0;
  position: absolute;
  border-radius: 5px;
  width: 25px;
  height: 25px;
  background-color: $colour;
  transform: rotate($rotation);
}

.badge {
  z-index: 20;
  @include flower($colour: #554841, $rotation: 15deg);
}

.badge::before {
  @include flower($colour: #554841, $rotation: 30deg);
}

.badge::after {
  @include flower($colour: #554841, $rotation: -30deg);
}

#leaderboard {
  display: grid;
  gap: 20px;

  h2 {
    color: #d9d1aa;
    font-size: 1.7em;
    line-height: 1em;
    margin: 20px 0 0 0;
    padding: 0;
  }

  .inner {
    background-color: #d9d1aa;

    ol {
      margin: 0;
      padding: 10px;
      list-style: none;
      counter-reset: item;

      li {
        margin: 0;
        padding: 0;
        counter-increment: item;
        position: relative;

        &::before {
          z-index: 40;
          position: absolute;

          content: counter(item);

          display: flex;
          align-items: center;
          justify-content: center;

          box-sizing: initial;

          width: 8px;
          height: 8px;
          padding: 8px;
          color: #fff;
          text-align: center;
          font: 1em Charter, Cambria, Arial, sans-serif;
        }

        .place {
          display: grid;
          grid-template-columns: 90px 1fr;
          font-size: 0.8em;
          gap: 10px;
          margin: 0 0 10px 0;
          padding: 10px;

          img {
            grid-column: 1 / 2;
            border: 2px solid #fff;
          }

          div {
            grid-column: 2 / 2;
          }
        }
      }
    }
  }

  #most-scenic {
    h2 {
      padding-left: 40px;
      background: url("top-5.png") left no-repeat;
      height: 44px;
      display: table-cell;
      vertical-align: bottom;
    }
  }

  #least-scenic {
    h2 {
      padding-left: 55px;
      background: url("bottom-5.png") bottom left no-repeat;
      height: 44px;
      display: table-cell;
      vertical-align: bottom;
    }
  }
}

@media (min-width: 950px) {
  #leaderboard {
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column;

    #most-scenic {
      grid-column: 1 / 2;
    }

    #least-scenic {
      grid-column: 2 / 2;
    }

    .inner {
      ol {
        li {
          .place {
            grid-template-columns: auto;

            img {
              grid-column: 1 / 1;
              grid-row: 1 / 2;
            }

            div.details {
              grid-column: 1 / 1;
              grid-row: 2 / 2;
            }
          }
        }
      }
    }
  }
}
