#leaderboard {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  h2 {
    color: #d9d1aa;
    font-size: 1.7em;
    line-height: 1.1em;
    margin: 0;

    &::before {
      position: relative;
      bottom: -6px;
    }
  }

  #most-scenic, #least-scenic {
    flex: 1;
  }

  #most-scenic {
    h2::before {
      content: url("top-5.png");
      height: 44px;
    }
  }

  #least-scenic {
    margin-top: 12px;

    h2::before {
      content: url("bottom-5.png");
      height: 36px;
    }
  }

  .inner {
    border-radius: 3px;
    color: #554841;
    background-color: #d9d1aa;
    min-width: 220px;

    ol {
      margin: 0;
      padding: 10px;
      list-style: none;
      counter-reset: item;

      li {
        margin: 0;
        padding: 0;
        counter-increment: item;
        position: relative;

        &::before {
          margin-right: 10px;
          content: counter(item);
          background: url("counter-bg.png");
          background-size: contain;
          width: 1.5em;
          height: 1.5em;
          vertical-align: middle;
          color: #fff;
          text-align: center;
          display: inline-block;
          position: absolute;
          left: -5px;
          top: -5px;
        }

        .place {
          display: flex;
          font-size: 0.8em;
          gap: 10px;
          padding: 10px;

          img {
            border: 2px solid #fff;
          }
        }
      }
    }
  }
}
