$primary: #554841;
$secondary: #c7b199;

@import "bootstrap/scss/bootstrap";
@import "./leaderboard.sass.scss";

.hide-mobile {
  display: none;
}

.box {
  background-color: $secondary;
  padding: 1em;
  border: 5px solid $primary;
  margin: 20px auto;
  width: 95%;
}

.navbar {
  background-color: $secondary;
  border-bottom: 1px solid $primary;

  .navbar-brand {
    text-decoration: none;
  }
}

#place {
  @extend .box;

  img {
    width: 100%;
    margin: 0 auto;
  }
}

#rate {
  @extend .box;
  text-align: center;

  input {
    @extend .btn, .btn-primary, .btn-sm;
    margin-top: 7px;
  }
}

#cookieBanner {
  width: 100%;
  text-align: center;
  background-color: $secondary;
  font-size: 0.9em;
  margin: 0;
  padding: 1em;

  button {
    @extend .btn, .btn-primary, .btn-sm;
    margin: 0.5em;
  }
}

#licence {
  @extend .box;
  text-align: center;
}

#content {
  @extend .box;
}

footer {
  font-size: 0.8em;
  background-color: #a2c76c;
  padding: 20px;
  text-align: center;
}
