$primary: #554841;
$secondary: #c7b199;
$tertiary: #998874;

$border: $tertiary;
$displayfont: 'OPTIOliver-Display';

@import "bootstrap/scss/bootstrap";
@import "./leaderboard.sass.scss";

@font-face {
  font-family: 'OPTIOliver-Display';
  src:url('/assets/OPTIOliver-Display.ttf.woff') format('woff'),
      url('/assets/OPTIOliver-Display.ttf.svg#OPTIOliver-Display') format('svg'),
      url('/assets/OPTIOliver-Display.ttf.eot'),
      url('/assets/OPTIOliver-Display.ttf.eot?#iefix') format('embedded-opentype'); 
  font-weight: normal;
  font-style: normal;
}

.hide-mobile {
  display: none;
}

.box {
  padding: 1em;
  margin: 20px auto;
  width: 95%;
  position: relative; 
  z-index:1;
  
  &:before {
    z-index:-1;
    content:"";
    position: absolute;
    background: linear-gradient($tertiary, $tertiary)  top 15px left 0,
    radial-gradient(circle at 0 0, transparent 18px, $secondary calc(18px)) top left, 
    radial-gradient(circle at 100% 0, transparent 18px, $secondary calc(18px)) top right, 
    radial-gradient(circle at 0 100%, transparent 18px, $secondary calc(18px)) bottom left, 
    radial-gradient(circle at 100% 100%, transparent 18px, $secondary calc(18px)) bottom right;
    background-size: 3px calc(100% - 15px), 50% 50%, 50% 50%, 50% 50%, 50% 50%;
    background-repeat: no-repeat;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
  }
  &:after {
    z-index:-2;
    content:"";
    position: absolute;
    background: radial-gradient(circle at 0 0, transparent 15px, $tertiary calc(15px)) top left, 
    radial-gradient(circle at 100% 0, transparent 15px, $tertiary calc(15px)) top right, 
    radial-gradient(circle at 0 100%, transparent 15px, $tertiary calc(15px)) bottom left, 
    radial-gradient(circle at 100% 100%, transparent 15px, $tertiary calc(15px)) bottom right;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
  }
}

.navbar {
  background-color: $secondary;
  border-bottom: 1px solid $primary;

  .navbar-brand {
    text-decoration: none;
  }
}

#place {
  @extend .box;

  img {
    width: 100%;
    margin: 0 auto;
  }
}

#rate {
  @extend .box;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  color: $primary;

  .rate-heading {
    font-family: $displayfont;
    text-transform: uppercase;
  }

  .rate-description {
    margin-bottom: 11px;
  }

  .range {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    top: calc(-33px + 0.9375vw);
  }

  .less-scenic,
  .very-scenic {
    font-size:  clamp(7px, 2.5vw, 13px);
    margin-bottom: calc(-10px + 2.1875vw);
    img {
      width: clamp(27px, 8.65vw, 48px);
      margin-bottom: 7px;
    }
  }

  input {
    @extend .btn, .btn-primary, .btn-sm;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 7px;
    font-size: 3.75vw;
    padding: 1.5625vw 1.5625vw 1.25vw!important;
    margin: 2.1875vw 0.6015625vw 2.1875vw;
  }
}

#cookieBanner {
  width: 100%;
  text-align: center;
  background-color: $secondary;
  font-size: 0.9em;
  margin: 0;
  padding: 1em;

  button {
    @extend .btn, .btn-primary, .btn-sm;
    margin: 0.5em;
  }
}

#licence {
  @extend .box;
  text-align: center;
}

#content {
  @extend .box;
}

#leaderboard {
  h2 {
    font-weight: bold;
  }
}

footer {
  font-size: 0.8em;
  background-color: #a2c76c;
  padding: 20px;
  text-align: center;
}
