$primary: #554841;
$secondary: #c7b199;
$tertiary: #998874;

$border: $tertiary;
$displayfont: 'OPTIOliver-Display';

@import "bootstrap/scss/bootstrap";
@import "./leaderboard.sass.scss";

@font-face {
  font-family: 'OPTIOliver-Display';
  src:url('/assets/OPTIOliver-Display.ttf.woff') format('woff'),
      url('/assets/OPTIOliver-Display.ttf.svg#OPTIOliver-Display') format('svg'),
      url('/assets/OPTIOliver-Display.ttf.eot'),
      url('/assets/OPTIOliver-Display.ttf.eot?#iefix') format('embedded-opentype'); 
  font-weight: normal;
  font-style: normal;
}

.hide-mobile {
  display: none;
}

.box {
  background-color: $secondary;
  padding: 1em;
  border: 5px solid $border;
  margin: 20px auto;
  width: 95%;
}

.navbar {
  background-color: $secondary;
  border-bottom: 1px solid $primary;

  .navbar-brand {
    text-decoration: none;
  }
}

#place {
  @extend .box;

  img {
    width: 100%;
    margin: 0 auto;
  }
}

#rate {
  @extend .box;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  color: $primary;

  .rate-heading {
    font-family: $displayfont;
    text-transform: uppercase;
  }

  .range {
    display: flex;
    justify-content: space-between;
  }

  .less-scenic,
  .very-scenic {
    font-size:  2.5vw;
    img {
      width: 8.65vw;
      margin-bottom: 7px;
    }
  }

  input {
    @extend .btn, .btn-primary, .btn-sm;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 7px;
    font-size: 3.75vw;
    padding: 1.5625vw 1.5625vw 1.25vw!important;
    margin: 7px 0.6015625vw 0;
  }
}

#cookieBanner {
  width: 100%;
  text-align: center;
  background-color: $secondary;
  font-size: 0.9em;
  margin: 0;
  padding: 1em;

  button {
    @extend .btn, .btn-primary, .btn-sm;
    margin: 0.5em;
  }
}

#licence {
  @extend .box;
  text-align: center;
}

#content {
  @extend .box;
}

#leaderboard {
  h2 {
    font-weight: bold;
  }
}

footer {
  font-size: 0.8em;
  background-color: #a2c76c;
  padding: 20px;
  text-align: center;
}
