@media (min-width: 950px) {
  #rate {
    background: url("rating-bg.png") top no-repeat;
    background-size: contain;
    width: 100%;
    height: 95px;
    margin: 0;
    padding: 60px 0 30px 0;
    z-index: 3;
    position: relative;

    #inner {
      display: flex;
      flex-direction: row;
      justify-content: center;

      img {
        width: 63px;
        height: 52px;
        display: inline-block;
      }

      input {
        border: none;
        background: transparent;
        font: 1.4em $font;
        color: #fff;
        margin: 10px 0;
        padding: 10px 7px;

        &:hover {
          text-shadow: 1px 1px #000;
          cursor: pointer;
          background: url("hover-top.svg") top center no-repeat,
            url("hover-bottom.svg") bottom center no-repeat;
        }
      }
    }
  }

  #place {
    margin: 0;
    padding: 0;
    background: url("pictureframe-bg.png") repeat-y;
    background-size: contain;
    width: 100%;
    position: relative;
    width: 490px;
    z-index: 2;
    top: -5px;

    &:before {
      content: "";
      background: url("pictureframe-landscape-top.png") top no-repeat;
      background-size: contain;
      height: 24px;
      width: 100%;
      display: block;
      position: absolute;
      z-index: 100;
      top: -18px;
    }

    &:after {
      content: "";
      background: url("pictureframe-landscape-bottom.png") bottom no-repeat;
      background-size: contain;
      height: 24px;
      width: 100%;
      display: block;
      position: absolute;
      z-index: 100;
      bottom: -15px;
    }

    picture {
      padding: 15px;

      img {
        width: 95%;
        margin: 10px auto;
      }
    }
  }

  #licence {
    padding: 24px 0;
    text-align: center;
    color: #fff;
  }
}
