@media (min-width: 950px) {
  #rate {
    background: url("rating-bg.png") top no-repeat;
    background-size: contain;
    width: 100%;
    height: 95px;
    margin: 0;
    padding: 60px 0 30px 0;
    z-index: 3;
    position: relative;

    #inner {
      display: flex;
      flex-direction: row;
      justify-content: center;

      img {
        width: 63px;
        height: 52px;
        display: inline-block;
      }

      input {
        border: none;
        background: transparent;
        font: 1.8em $font;
        color: #fff;
        margin: 10px 0;
        padding: 0px 7px;

        &:hover {
          text-shadow: 1px 1px #000;
          cursor: pointer;
          background: url("hover-top.svg") top center no-repeat,
            url("hover-bottom.svg") bottom center no-repeat;
        }
      }
    }
  }

  #place {
    $container-width: 507px;

    margin: 0;
    padding: 0;
    background: url("pictureframe-bg.png") repeat-y;
    background-size: contain;
    width: 100%;
    position: relative;
    width: $container-width;
    z-index: 2;
    top: -5px;

    &:before {
      content: "";
      background: url("pictureframe-landscape-top.png") top no-repeat;
      background-size: contain;
      height: 24px;
      width: 100%;
      display: block;
      position: absolute;
      z-index: 100;
      top: -18px;
    }

    &:after {
      content: "";
      background: url("pictureframe-landscape-bottom.png") bottom no-repeat;
      background-size: contain;
      height: 24px;
      width: 100%;
      display: block;
      position: absolute;
      z-index: 100;
      bottom: -15px;
    }

    picture {
      $margin-left: 28px;
      $margin-right: 28px;

      img {
        width: $container-width - ($margin-left + $margin-right);
        margin: 10px $margin-left 10px $margin-right;
        object-fit: fill;
      }

      &::after {
        box-shadow: inset 0px 0px 1px 1px #988470;
        -moz-box-shadow: inset 0px 0px 1px 1px #988470;
        -webkit-box-shadow: inset 0px 0px 1px 1px #988470;
        bottom: 13px;
        content: "";
        display: block;
        left: $margin-right;
        height: auto;
        position: absolute;
        right: $margin-left;
        top: 9px;
        width: auto;
      }
    }
  }

  #licence {
    padding: 24px 0;
    text-align: center;
    color: #fff;
  }
}
