<div id="content">
  <h1>Leaderboard</h1>

  <p>
    This page shows the current prettiest and ugliest places, according to your votes. It only uses the votes we've gathered so far, and that's only <%= @leaderboard.percentage_rated %> of the country - if you think that they're wrong, get voting!
  </p>

  <div id="leaderboard">
    <div id="most-scenic">
      <h2>Top 5</h2>
      <div class="inner">
        <ol>
          <% @leaderboard.top_five.each do |rated_place| %>
            <li>
              <%= render "place_with_rating", place: rated_place, thumbnail_is_link: true %>
            </li>
          <% end %>
        </ol>
      </div>
    </div>

    <div id="least-scenic">
      <h2>Bottom 5</h2>
      <div class="inner">
        <ol>
          <% @leaderboard.bottom_five.each do |rated_place| %>
            <li>
              <%= render "place_with_rating", place: rated_place, thumbnail_is_link: true %>
            </li>
          <% end %>
        </ol>
      </div>
    </div>
  </div>
</div>
