<div id="cookieBanner" class="hidden">
    <p>We use some essential cookies to make this service work.</p>
    <p>We'd also like to use analytics cookies so we can understand how you use the service and make improvements.</p>
    <button id="rejectCookies">Reject analytics cookies</button>
    <button id="acceptCookies">Accept analytics cookies</button>
    <p><a href="/cookies" id="cookies-eu-more">Read more</a></p>
</div>
