<div id="cookieBanner" class="hidden">
  <div id="textContainer">
    <p>We use some essential cookies to make this service work. We'd also like to use analytics cookies so we can understand how you use the service and make improvements. <a href="/cookies" id="cookies-eu-more">Read more about our cookie policy.</a></p>
  </div>

  <div id="buttonContainer">
    <button id="rejectCookies" class="cookieButton">Reject analytics cookies</button>
    <button id="acceptCookies" class="cookieButton">Accept analytics cookies</button>
  </div>
</div>
