<nav>
  <ul class="nav">
    <li id="logo">
      <a href="/">
        <%= image_tag "logo.png", alt: "ScenicOrNot", width: "100%" %>
      </a>
    </li>
    <li id="home">
      <a href="/">
        Home
      </a>
    </li>
    <li id="faq">
      <a href="/faq">
        FAQ
      </a>
    </li>
    <li id="leaderboard">
      <a href="/leaderboard">
        Leaderboard
      </a>
    </li>
  </ul>
</nav>
