<nav>
  <ul class="nav">
    <li id="logo">
      <a href="/">
        Scenic or Not
      </a>
    </li>
    <li>
      <a href="/">
        Home
      </a>
    </li>
    <li>
      <a href="/faq">
        FAQ
      </a>
    </li>
    <li>
      <a href="/leaderboard">
        Leaderboard
      </a>
    </li>
  </ul>
</nav>
